@import 'tailwindcss';

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;
	background: linear-gradient(to right, #64748b, #1e293b);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	::-webkit-scrollbar {
		display: none;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		background: linear-gradient(to right, #cbd5e1, #64748b);
	}
}

.selected-category {
	color: var(--color-green-950);
	border: 2px var(--color-green-900) solid;
	background-color: var(--color-green-400);
}

.selected-easy-difficulty {
	color: var(--color-green-950);
	border: 2px var(--color-green-900) solid;
	background-color: var(--color-green-400);
}

.selected-medium-difficulty {
	color: var(--color-amber-950);
	border: 2px var(--color-amber-900) solid;
	background-color: var(--color-amber-400);
}

.selected-hard-difficulty {
	color: var(--color-red-950);
	border: 2px var(--color-red-900) solid;
	background-color: var(--color-red-400);
}
