@import 'tailwindcss';

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;
	background: linear-gradient(to right, #64748b, #1e293b);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
	:root {
		background: linear-gradient(to right, #cbd5e1, #64748b);
	}
}
