@import 'tailwindcss';

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;
	background: linear-gradient(to right, #64748b, #1e293b);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	::-webkit-scrollbar {
		display: none;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		background: linear-gradient(to right, #cbd5e1, #64748b);
	}
}

.selected-category {
	color: white;
	border: 2px oklch(0.765 0.177 163.223) solid;
	background-color: oklch(0.432 0.095 166.913);
}
